# Node
node_modules/
dist/
coverage/
*.log
package-lock.json

# Next.js
.next/
out/
next-env.d.ts

# Turbo
.turbo/

# Rimuru Runtime
.rimuru/
rimuru.config.json
.wwebjs_cache/
.wwebjs_auth/
auth_info/

# IDEs
.vscode/
.idea/
.DS_Store

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build
build/
*.tsbuildinfo
